.header {
    position: fixed;
    padding: 10px 0 10px 0;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(rgba(255, 220, 212, 0.3) 0%, rgba(253, 222, 206, 0.3) 100%);
    backdrop-filter: blur(10px);
}
.header__container {
    display: flex;
    align-items: center;
    column-gap: 60px;
    min-height: 72px;
}
.header__logo {
    flex: 0 0 130px;
}
.header__logo img {
    width: 100%;
}
.header__menu {
    flex: 1 1 auto;
}
.header__actions {
    flex: 0 0 auto;
    display: flex;
    column-gap: 36px;
    align-items: center;
}


.menu {}
.menu__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 40px;
    align-items: center;
}
.menu__item {}
.menu__link {
    font-weight: 700;
    transition: color 0.3s ease;
}
.menu__link:hover {
    color: #FF3F3A;
}



.actions-header {}
.actions-header__button {
    padding: 13px 45px;
}
.actions-header__login {
    font-weight: 700;
    display: inline-flex;
    align-items: center;
    column-gap: 8px;
}
.actions-header__login:hover {
    text-decoration: underline;
}
.actions-header__login::before {
    content: '';
    flex: 0 0 20px;
    width: 20px;
    height: 20px;
    background: url(../img/header/icons/user.svg) no-repeat;
}

@media (max-width: 1198.98px) {
    .header__container {
        column-gap: 30px;
    }
    .menu__list {
        column-gap: 20px;
    }
    .header__actions {
        column-gap: 20px;
    }
    .actions-header__button {
        padding: 13px 20px;
    }
}
@media (max-width: 768.98px) {
    .actions-header__login{
        display: none;
    }
    .header__container {
        flex-direction: column;
        row-gap: 20px;
    }
    .header__logo {
        flex: 0 0 auto;
        width: 130px;
    }
    .menu__list {
        padding: 0;
        justify-content: center;
        column-gap: 30px;
    }
}
@media (max-width: 520px) {
    .header__actions {
        display: none;
    }
}

